body{
	margin: 0; 
	padding: 0;
	background-color:BurlyWood;
	color: black;
	font-size: 20px;
	font-family: open sans, sans-serif;
}

a {
	text-decoration: none;
}

#contenitore{
	width: 1000px;
	height: 100;
	margin: 50px auto;/*auto = al centro della pagina*/
	background: white;
	border:solid;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-top-width: 2px;
	border-top-color: silver;
}

#intestazione{
	width:650px;
	height: 205px;
	float:left;
	background:white;
}

#paroleIntestazione{
	margin-left:50px;
}

#login{
	height: 150px;
	display: inline-block;	/*per fare avere l'effetto wrap-content*/
	margin-top:30px;
	padding-left: 150px;
}

#userLogged{
	height: 150px;
	width: 150px;
	display: inline-block;	/*per fare avere l'effetto wrap-content*/
	margin-top:30px;
	padding-left: 120px;
	font-size: 15px;
}

.userDetails span{
	font-size:15px;
	padding: 5px;
}

#toHome{
	height: 50px;
	display: inline-block;	/*per fare avere l'effetto wrap-content*/
	margin-top:30px;
	padding-left: 125px;
}

#formBox{
	display: inline-block;	/*per fare avere l'effetto wrap-content*/
	margin-left: 50px;
	margin-bottom: 50px;	
}

#footer{
	border-top: 1px solid #000;
	padding-top:5px;
    display: block;
    margin-right: auto;
	margin-left: auto;
	width: 100%;
	text-align:center;
	background-color:chocolate ;
}